#textarea {
    width:40%;
    height:100px;

}

#textarea1{
    width:40%;
    height:100px;

}


button{
    display:block;
}

#input{
    width:40%;
    height:50px;

}
#input1{
    width:40%;
    height:50px;

}